section {
    background-color: blanchedalmond;
    width: 1000px;
    height: 900px;
    padding: 10px;
}

h1 {
    color: red;

    font-size: 5ch;

}

p {
    font-size: 3ch;

}

.indianred {
    color: indianred;
}

.blue {
    color: blue;
}

h1,
p {
    margin-left: 10px;
    margin-bottom: 70px;
}