section {
    background-color: #808080;
    height: 800px;
    width: 300px;
    color: white;
    margin-left: 35px;
}

h1 {
    margin-left: 25px;
    margin-bottom: 25px;
}

div {

    background-color: #fea500;
    height: 150px;
    width: 150px;
    margin-left: 35px;
    margin-bottom: 10px;
}